@media screen and (min-width: 1200px) {

    .container {
        width: 1158px;
      }

      .section {
        padding-top: 120px;
        padding-bottom: 120px;
      }

      .customers-list {
        display: flex;
          flex-wrap: wrap;
          column-gap: 24px;
        
      }
      
      .customers-item {
        width: calc((100% - 120px) / 6);
        height: 88px;
      }

}