@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

.mob-menu,
.menu-open {
  display: none;
}

.heder-logo {
  margin-right: 123px;
}

.header-list {
  display: flex;
}

.header-tel,
.header-mail {
font-weight: 400;
font-size: 12px;
line-height: 1.33;
color: #434455;
}

.hero {
  padding-bottom: 108px;
   background-image: var(--background-gradient),
    url(../images/hero-image-tab.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx)
 {
  .hero {
   background-image: var(--background-gradient),
    url(../images/hero-image-tab-2x.jpg); 
  }
}

.hero-title {
  width: 495px;
  height: 120px;
  margin-bottom: 40px;
  font-size: 56px;
  line-height: 1.07;
}

  .features-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .features-title {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    text-align: left;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    width: calc((100% - 210px) / 2);
  }

  .team {
    padding-bottom: 104px;
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }

  .customers-item {
    width: calc((100% - 234px) / 3);
    height: 88px;
  }
}
